<div id="asociarArchivos" class="modal hide fade" style="background:#fff;width:50%;height:100%" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Modal header</h3>

    </div>
	<div class="modal-body">
		<script type="text/javascript">
			function dale(){
				alert('click');
			}
			
		

		</script>
        <script type="text/javascript" src="templates/js/asociarArchivos.js"></script>
		<h1 onclick="dale()">Repositorio de archivos</h1>
        <div id="archivosCat" class="archivosCat" style="float:left">
		<ul>
		{% for key,archivo in archivos %}
			<li id="categoria_{{archivo['id_categoria_archivo']}}" class="categoria_archivo">
			{{archivo['descripcion']}}
			<!-- ul>
			{% for file in archivo['archivos'] %}
				<li>{{file.nombre}}</li>
			{% endfor %}
			</ul-->
			</li>
		{% endfor %}
		</ul>
        </div>
        
        <div class="archivo" style="float:right">
        {% for key,archivo in archivos %}
			{% if archivo['archivos']  %}
            	<div id="bloque_cat_{{archivo['id_categoria_archivo']}}" class="bloque_archivos" style="display:none">
                	<ul>
                    {% for file in archivo['archivos'] %}
                        <li id="file_{{file.id_archivo}}">{{file.nombre}}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}  			
		{% endfor %}
        </div>

	</div>
    <div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    	<button type="button" class="btn btn-primary" data-dismiss="1" aria-hidden="true">Asociar</button>
    	<!-- button class="btn btn-primary">Save changes</button -->
    </div>
</div>
