{% extends 'template.html' %}

{% block filtro %}
	{% include filtro %}
{% endblock %}    

{% block content %}

{{ parent() }}
<script type="text/javascript">
function borrarConfirmation(delUrl)
{
	 if (confirm("¿Estás seguro que quieres borrar?")) {
		   document.location = delUrl;
	 }
}
</script>
<h2>Elije una opción</h2>
<h3>{{clase}}</h3>
{% if error%}
EXISTE ERRORES
{% endif%}
{% if consulta != "" %}
	<a href="?controller=ExcellController&amp;action=create&amp;q={{consulta}}&amp;n=excell" style="float:right"><img src="templates/img/excell.jpg" />Exportar</a>
{% endif %}
<p><a href="?controller={{controller}}&action=addForm{% if cat_archivo %}&cat_archivo={{cat_archivo}}{% endif%}" class="btn btn-success"><i class="icon-plus"></i> Añadir</a></p>
<table border="1" padding="3">
	
	<thead>
		<tr>
		{% for key,ele in listado[0] %}
			<th><a href="?controller={{controller}}&amp;action=order&amp;key={{key}}">{{key}}</a></th>
		{% endfor %}
		</tr>
	</thead>
	

	<tbody>
	{% for elemento in listado %}
	
		
		<tr>
		{% for key,ele in elemento %}
			<td><a href="?controller={{controller}}&action=addForm&id={{elemento[(id)]}}" class="">{{ele|convert_encoding('UTF-8', 'UTF-8') }}</a></td>
		{% endfor %}
		{% if controller != 'ArchivosController' %}
		<td><a href="?controller={{controller}}&action=addForm&id={{elemento[(id)]}}" class=""><span class="glyphicon glyphicon-edit"></span> Editar</a></td>
		{% endif %}	
		<td><a href="javascript:borrarConfirmation('?controller={{controller}}&action=del&id={{elemento[(id)]}}{% if cat_archivo %}&amp;cat_archivo={{cat_archivo}}{% endif %}')" class="borrar" ><span class="glyphicon glyphicon-remove"></span> Borrar</a></td>	
       	</tr>

	{% endfor %}
	</tbody>
</table>
{% if paginas > 1 %}
	{% for i in 1..paginas %}
	 	<a href="?controller={{controller}}&amp;action=genList&amp;page={{i - 1}}">{% if i == actual + 1 %}<strong>{{i}}</strong>{% else %}{{i}}{% endif %}</a>
	{% endfor %}
{% endif %}

<p><a href="?"><i class="icon-arrow-left"></i> Volver</a></p>
{% endblock %} 