{% extends 'template.html' %}
{% block js %}

 <script>
	$(function() {
		$( "#becas_fecha_in" ).datepicker({ dateFormat: "yy-mm-dd" });
	});
</script>
 <script>
	$(function() {
		$( "#becas_fecha_out" ).datepicker({ dateFormat: "yy-mm-dd" });
	});
</script>
 <script>
	$(function() {
		$( "#fecha_nacimiento" ).datepicker({ dateFormat: "yy-mm-dd",changeYear: true,constrainInput: false });
	});
</script>
{% endblock %}
{% block content %}
{% if usuario.id_usuario > 0 %}
<form action="?controller={{controller}}&amp;action=add&amp;id={{usuario.id_usuario}}" method="post">
{% else %}
<form action="?controller={{controller}}&amp;action=add" method="post">
{% endif %}
{% include 'formularioUsuario.html' %}
<input class="btn btn-success" name="enviar" type="submit" />
</form>

{% include 'bloqueDirecciones.html' %}
{% include 'bloqueTelefonos.html' %}
{% include 'bloqueMails.html' %}


<p><a href="?">volver</a></p>
{% endblock %} 
